$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-xxl: 1440px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }
  @else if $breakpoint == 'md' {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == 'xxl' {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found.";
  }
}