.img-uploader {
  position: relative;
  background: $lightgrey;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 1.25rem;
  border-radius: 0.75rem;

  h2 {
    @include BodyM();
    color: $grey;
    margin-bottom: 1rem;
  }

  .input-file {
    display: none;
  }

  .image-preview {
    width: 12.0625rem;
    height: 12.0625rem;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
  }

  .info-text {
    @include BodyS();
    color: $grey;
  }

  .label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.05);
        z-index: 40;
      }
      .changeimghover {
        display: flex;
        position: absolute;
        z-index: 50;
        width: 6rem;
        height: 4.5rem;
      }
    }
  }

  .changeimghover {
    display: none;
    position: absolute;
    z-index: 50;
    width: 6rem;
    height: 4.5rem;
  }

  .changeimg {
    z-index: 50;
    display: none;
  }

  @include respond-to(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;

    h2 {
      width: 15rem;
      margin: 0;
    }

    .label {
      width: 12.0625rem;
      margin: 0;
    }

    .image-preview {
      margin: 0;
    }

    .info-text {
      width: 7.9375rem;
    }
  }
}