.logo {
    width: 11.40625rem;
    height: 2.5rem;
    margin: 2rem 2rem 4rem 2rem;
}

.error-message {
    position: absolute;
    top: 54%;
    right: 1rem;
    color: $red;
    @include BodyS();
    opacity: 0;
    animation: fade-in 0.3s ease-in forwards;
}

.register {
    padding: 0 2rem 7.875rem 2rem;

    h1 {
        @include HeadingM();
        font-size: 1.5rem;
        color: $darkgrey;
        margin-bottom: 0.5rem;
    }

    p {
        @include BodyM();
        color: $grey;
    }

    .heading {
        margin-bottom: 2.5rem;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        position: relative;

        label {
            @include BodyS();
            color: $darkgrey;
            margin-bottom: 0.25rem;
        }

        input {
            width: 100%;
            min-height: 3rem;
            border-radius: 0.5rem;
            border: 0.0625rem solid $borders;
            padding: 0.75rem 0.75rem 0.75rem 2.75rem;
            outline: none;

            &:focus {
                border: 0.0625rem solid $purple;
                box-shadow: 0 0 32px rgba(99, 60, 255, 0.25);
            }
        }

        .input-error {
            border: 0.0625rem solid $red;
        }

        img {
            position: absolute;
            margin: 0;
            top: 54%;
            left: 1rem;
            width: 1rem;
            height: 1rem;
        }
    }

    .info {
        margin-bottom: 1.5rem;
        @include BodyS();
    }

    button {
        @include btn();
        margin-bottom: 1.5rem;
    }

    .to-login {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            text-decoration: none;
            color: $purple;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include respond-to(md) {
    .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 9.875rem 0 0 0;
    }
    .register {
        padding: 2.5rem;
        border-radius: 0.75rem;
        margin: 3.1875rem 9.125rem 9.8125rem 9.125rem;
        background: white;

        .to-login {
            flex-direction: row;
            gap: 0.25rem;
            justify-content: center;
        }
    }
}

@include respond-to(xxl) {
    .logo {
        margin-top: 8.625rem;
    }

    .register {
        margin-top: 3.1875rem;
        min-width: 29.75rem;
    }
}